<h2>
  Products List From Firebase:
</h2>


<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let user of users">
    Product Number: {{user.id}}, Name: {{user.name}}, Price: {{user.price}}$
  </li>
</ul>

