<h2>
  Products List:
</h2>

<!--

<ul class = "list-group">
  <li class = "list-group-item" *ngFor = "let key of usersKeys">
    {{'product number: ' + key + ', ' + 'product: '+  users[key].name + ', ' + 'price: ' + users[key].price}}</li>
</ul>

-->



<ul class = "list-group">
  <li class = "list-group-item" *ngFor ="let key of usersKeys">
    <button class="btn btn-info" [routerLink] ="['/edit-product', key]">Edit</button>
    <a [routerLink] ="['/edit-product', key]">{{'Product Number: '+key+', Name: '+users[key].name +", Price: "+ users[key].price + '$'}}</a>
    
  </li>
</ul>

