
<h2>Edit Product {{user?.id}}: </h2>

<!--


<form [formGroup] = "updateform" (ngSubmit) = "sendData()">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name" value="{{user?.name}}">
  </div>
  <div>
    <label for="price">Price</label>
    <input type="text" name="price" id="price" class="form-control" formControlName = "price" value="{{user?.price}}">
  </div>
  <br>
  <input type="submit" value="Update product" class="btn btn-primary">
</form>

-->


<form [formGroup] = "updateform" (ngSubmit) = "sendData()">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control" formControlName = "name"  value="{{name}}" [(ngModel)]="name">
  </div>
  <div>
    <label for="price">Price</label>
    <input type="text" name="price" id="price" class="form-control" formControlName = "price"  value="{{price}}" [(ngModel)]="price">
  </div>
  <br>
  <input type="submit" value="Update product" class="btn btn-primary">
</form>

